<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Soft 355 application</title>
  <link href="/lobby/Looby.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="creator">
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
      <div id="room-name2"><%= room %></div>
      <a href="/<%= room %>" id="join-button">Join</a><% }) %>
    </div>
    <div id="creator2">
      <form action="/room" method="POST">
        <input name="room" id="room-name" type="text" required>
        <button type="submit" id="sub-room">New Room</button>
      </form>
    </div>
</body>

</html>