<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Room</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script defer src="room/Room.js"></script>
  <script defer src="room/Game.js"></script>
  <script>
  </script>
  <link href="/room/Room.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="game-container">
    <div class="menu">
      <div class="board">
        <button id="cell1" onclick="clientButtonClicked(this.id)"></button> <button id="cell2" onclick="clientButtonClicked(this.id)"></button> <button id="cell3" onclick="clientButtonClicked(this.id)"></button>
        <button id="cell4" onclick="clientButtonClicked(this.id)"></button> <button id="cell5" onclick="clientButtonClicked(this.id)"></button> <button id="cell6" onclick="clientButtonClicked(this.id)"></button>
        <button id="cell7" onclick="clientButtonClicked(this.id)"></button> <button id="cell8" onclick="clientButtonClicked(this.id)"></button> <button id="cell9" onclick="clientButtonClicked(this.id)"></button>
        <button id="cell01" onclick="clearButtonClicked(this.id)">Clear</button>
      </div>
    </div>
  </div>
  <div id="message-container">
    <form id="send-container"> 
      <input type="text" id="message-input">
      <button type="submit" id="send-button">Send</button>
    </form>
  </div>
</body>

</html>